@mixin animateDiv() {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    right: -200vh;
    font-size: 8vw;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    width:20%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin animate($delay){
    animation: animiraj $animSpeed ease-in #{$delay}s forwards;
  }